<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>About HTML</title>

</head>

<style>

body {

background-image: url("https://catherineasquithgallery.com/uploads/posts/2023-01/1674179274\_catherineasquithgallery-com-p-serii-fon-dlya-aifona-foto-50.jpg");

background-size: cover; 

}

p,
ul, 
li {

color: #fff;

}

</style>


<body>

{% extends 'base.html' %}  

{% block content %}

<h1>

<p>Mening Saytim Haqida</p>

<p>Mening veb saytim 2023 yilda ishga tushirildi. U asosan mening shaxsiy loyihalarim va qiziqishlarim haqida ma'lumot beradi.</p>


<p>Saytda siz quyidagi bo'limlarni topasiz:</p>

<ul>

<li>Bosh sahifa - saytning asosiy ma'lumotlari</li>

<li>Haqimda - men haqimda qisqacha ma'lumot</li>

<li>Portfolio - mening ishlarim namunalari</li>

<li>Blog - turli mavzudagi maqolalar</li>

<li>Aloqa - men bilan bog'lanish</li>

</ul>

<p>Umid qilamanki siz saytdagi ma'lumotlardan mamnun bo'lasiz. Taklif va mulohazalaringizni kuting!</p>

</h1>

{% endblock content %}

</body>

</html>