<!DOCTYPE html>

<html>

<head>

<title>Admin Panel</title>

<style>
body {
  background-image: url('https://exse.eyewated.com/pict/dc6e5864ec78364d-1024x683.jpg');
  background-size: cover;
}
</style>

</head>

<body>

<h1>Admin Panel</h1>

<ul>
  <li><a href="/admin/">Admin panelga kirish</a></li>
  <li><a href="/admin/auth/user/">Adminlar ro'yxati</a></li>
  <li><a href="/admin/newapp/post/add/">Yangi post joylash</a></li>
  <li><a href="/admin/auth/group/">Sozlamalar</a></li>
</ul>

</body>

</html>