<!DOCTYPE html>

<html>

<head>
  <title>Yordam markazi</title>
  
  <style>
    body {
      background-image: url('https://i.pinimg.com/originals/8d/b6/6c/8db66c02e3a482d48cd507e004b85591.jpg');
      background-size: cover
    }
  </style>
  
</head>

<body>

{% extends 'base.html' %}

{% block content %}

<h1>Yordam markaziga xush kelibsiz !</h1>

<p>Assalom alekum yordam uchun quyidagi linkga murojat qiling <a href="http://itcreative0071@gmail.com">Yordam uchun link</a> </p>

{% endblock content %}

</body>

</html>