<!DOCTYPE html>

<html>

<head>
  <title>Facebook Sahifam</title>
  
  <style>
    body {
      background-image: url('https://i.ytimg.com/vi/dDhPTe6wl74/maxresdefault.jpg');
    background-size: cover} 
  </style>
  
</head>

<body>

{% extends 'base.html' %}

{% block content %}

<h1>Assalomu alekum  Facebook sahifamizga xush kelibsiz!</h1>

<p>Bizning facebook sahifamizga kirish uchun quyidagi linkni bosing:  <a href="https://m.facebook.com/suyunov.husanbek/">Facebook link</a></p>

{% endblock content %}

</body>

</html>